<h3>Edit <%= @item.name %></h3>
<%= form_with model: @item do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :price, placeholder: "price" %>
  <%= form.submit value: "Update Item" %>
<% end %>